<h1>Detalhes da Posição</h1>

<p>
  <strong>ID:</strong>
  <%= @position.id %>
</p>

<p>
  <strong>Título:</strong>
  <%= @position.name %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @position.description %>
</p>

<%= link_to 'Editar', edit_position_path(@position) %> |
<%= link_to 'Voltar', positions_path %>
