<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to "Home", root_path, class:"navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse w-auto " id="navbarNavDropdown">
      <ul class="navbar-nav col-md-11">
        <% if user_signed_in?  %>  
          <li class="nav-item">
            <%= link_to "Minha empresa", dynamic_url_company, class: "nav-link" %>
          </li>
          <li class="nav-item d-flex input-group w-auto">
            <%= link_to "Publicar vaga", new_position_path, class: "nav-link public-position" %>
          </li>
        <%end%>
      </ul>
     <ul class="navbar-nav col-md-1">
      <% if user_signed_in? %> 
          <li class="nav-item dropdown">
            <a class="nav-link bi bi-arrow-right-square-fill"role="button" data-bs-toggle="dropdown" aria-expanded="false " >
            Perfil
            </a>
            <ul class="dropdown-menu">
              <li>
               <%= link_to "Editar", edit_user_registration_path, class: 'dropdown-item'%>
              </li>
              <li>
                <%= button_to 'Sair', destroy_user_session_path, method: :delete, class: 'dropdown-item'%>
              </li>
            </ul>
          </li>
          <% else %>
          <li>
            <%= link_to "Entrar", new_user_session_path, class: "nav-link"%>
          </li>
          <% end %>
      </ul>
    </div>
  </div>
  
</nav>