<%= search_form_for @q, url: root_path, method: :get do |f| %>
 <div class="row container">
    <div class="form-group col-md-8">
        <%= f.label :name_or_company_name_or_sumary_cont, 'Pesquisar' %>
        <%= f.text_field :name_or_company_name_or_sumary_cont, class: 'form-control' %>
    </div>

    <div class="form-group col-md-3">
        <%= f.label :career_id, 'Buscar por Carreira' %>
        <%= f.select :career_id_eq, options_for_select(Career.pluck(:name, :id), params.dig(:q, :career_name_eq)), { include_blank: 'Selecione uma Carreira' }, class: 'form-control' %>
    </div>

    <div class="form-group mb-3 col-md-1 mt-4">
        <%= f.submit 'Buscar', class: 'btn btn-dark' %>
    </div>  
  </div>  

<% end %>
